Source: tll-tls
Section: devel
Priority: optional
Maintainer: Pavel Shramov <shramov@mexmat.net>
Build-Depends:
 debhelper-compat (= 13),
 libfmt-dev,
 libssl-dev,
 libtll-dev,
 meson,
 pkgconf,
 python3-pytest,
 python3-tll,
Standards-Version: 4.7.2
Vcs-Git: https://github.com/shramov/tll-tls

Package: libtll-tls
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: TLL TLS channel
 .
 Package contains TLS encrypted TCP channel
